* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 241);
}

button {
  background-color: rgb(251, 62, 62);
  color: rgb(11, 3, 3);
  padding: 8px 4px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.actions {
  display: flex;
  justify-content: start;
}

.navbar {
  background-color: rgb(15, 45, 12);
  color: rgb(255, 255, 255);
}

ul {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 10px;
}
